@import "~bootstrap/scss/functions";
@import "~bootstrap/scss/variables";
@import "~bootstrap/scss/mixins";
@import "~bootstrap/scss/reboot";
@import "~bootstrap/scss/grid";
@import "~bootstrap/scss/utilities/spacing";
@import "~bootstrap/scss/utilities/flex";
@import "~bootstrap/scss/utilities/display";

body {
    margin: 0;
    font-family: "Montserrat", sans-serif;
    color: #333;
    background: #F5F7FA;
}

* {
    box-sizing: border-box;
}

#app {
    display: flex;
    .sidebar {
        position: fixed;
        left: 0;
        top: 0;
        bottom: 0;
        width: 60px;
        box-shadow: 0 3px 3px -2px rgba(39,44,51,.1), 0 3px 4px 0 rgba(39,44,51,.04), 0 1px 8px 0 rgba(39,44,51,.02);
        //background: #303956;
        background: rgb(23 33 25 / 95%);
        + .content {
            margin-left: 60px;
        }
    }
    .content {
        flex-shrink: 1;
        flex-grow: 1;
    }
}

.sidebar {
    &__logo {
        padding: 10px 15px 0 15px;
        margin-bottom: 30px;
        img {
            max-width: 100%;
        }
    }
    &__menu {
        ul {
            padding: 0;
            margin: 0;
            list-style: none;
            li {
                a {
                    border-bottom: 1px solid #212a45;
                    padding: 10px;
                    display: block;
                    color: rgba(172,182,191,1);
                    font-size: 11px;
                    text-align: center;
                    text-decoration: none;
                    font-weight: bold;
                    transition: all .3s;
                    i {
                        display: block;
                        margin-bottom: 10px;
                        font-size: 30px;
                    }
                    span {
                        display: none;
                    }
                    &.active,
                    &:hover {
                        color: #fff;
                    }
                }
            }
        }
    }
}

.d-flex {
    display: flex;
    align-items: center;
    label {
        flex-shrink: 0;
        margin-left: 15px;
        margin-bottom: 0;
    }
}

.panel {
    border-bottom: 2px solid #e9edf2;
    padding: 12px 30px;
    background: rgb(140 216 99 / 60%);
    &__row {
        display: flex;
        align-items: center;
        justify-content: space-between;
    }
    &__logo {
        flex-shrink: 0;
        flex-grow: 0;
    }
    &__menu {
        ul {
            display: flex;
            align-items: center;
            justify-content: space-between;
            margin: 0;
            padding: 0;
            list-style: none;
            li {
                padding: 0 15px;
                a {
                    font-weight: bold;
                    color: #333;
                    opacity: .9;
                    transition: all .3s;
                    text-decoration: none;
                    &:hover {
                        opacity: 1;
                    }
                }
            }
        }
    }
    &__auth {
        flex-shrink: 0;
        flex-grow: 0;
        display: flex;
        align-items: center;
        a {
            margin-right: 30px;
            font-weight: bold;
            color: #172e56;
            opacity: .9;
            transition: all .3s;
            text-decoration: none;
            &:hover {
                opacity: 1;
            }
            &:last-child {
                margin-right: 0;
            }
        }
    }
    &__user {
        display: flex;
        align-items: center;
        img {
            width: 40px;
            height: 40px;
            border-radius: 50%;
            margin-right: 15px;
        }
    }
}

.auth {
    background: #fff;
    max-width: 600px;
    margin: 50px auto 0 auto;
    padding: 30px 10px;
    h3 {
        text-align: center;
        margin-bottom: 30px;
    }
    ul {
        display: flex;
        align-items: center;
        justify-content: space-between;
        list-style: none;
        padding: 0;
        li {
            margin: 0 15px;
            a {
                display: block;
                width: 34px;
                height: 34px;
                text-align: center;
                line-height: 34px;
                font-size: 20px;
                border-radius: 5px;
                color: #fff;
            }
        }
    }
    &__vk {
        background: #4E7DB2;
    }
    &__telegram {
        background: #1587D2;
    }
    &__whatsapp {
        background: #76CA6A;
    }
    &__inst {
        background: radial-gradient(circle at 30% 107%, #fdf497 0%, #fdf497 5%, #fd5949 45%,#d6249f 60%,#285AEB 90%);
    }
}

.fields {
    > * {
        margin-bottom: 15px;
        display: block;
    }
}

.input {
    height: 40px;
    border-radius: 3px;
    border: 1px solid #edf0f2;
    box-shadow: inset 0 1px 1px rgba(39,44,51,.075);
    width: 100%;
    padding: 0 15px;
}

.textarea {
    height: 120px;
    border-radius: 3px;
    border: 1px solid #edf0f2;
    box-shadow: inset 0 1px 1px rgba(39,44,51,.075);
    width: 100%;
    padding: 15px 15px;
    font-family: "Montserrat", sans-serif;
}

.mb-15 {
    margin-bottom: 15px;
}

.btn {
    -webkit-appearance: none;
    display: inline-block;
    text-decoration: none;
    height: 40px;
    border-radius: 3px;
    background-color: #62C875;
    border-color: #62C875;
    box-shadow: inset 0 1px 0 hsla(0,0%,100%,.15), 0 1px 1px rgba(39,44,51,.075);
    color: #fff;
    transition: all .3s;
    padding: 5px 15px;
    font-size: 15px;
    line-height: 20px;
    outline: none;
    cursor: pointer;
    white-space: nowrap;
    &:hover {
        color: #fff;
        background-color: #5bb96d;
        border-color: #5bb96d;
        text-decoration: none;
    }
}

a.btn {
    padding-top: 10px;
    padding-bottom: 10px;
}

.register {
    display: flex;
    align-items: center;
    justify-content: space-between;
    input {
        margin-right: 15px;
    }
}

.table {
    border-collapse: collapse;
    width: 100%;
    thead {
        th {
            text-align: inherit;
            padding: .5rem .75rem;
            border-bottom: 2px solid #e9edf2;
        }
    }
    tbody {
        td {
            padding: .75rem;
            border-top: 1px solid #e9edf2;
        }
    }
}

.slot {
    padding: 15px;
}

.box {
    box-shadow: 0 3px 3px -2px rgba(39,44,51,.1), 0 3px 4px 0 rgba(39,44,51,.04), 0 1px 8px 0 rgba(39,44,51,.02);
    background-color: #fff;
    background-clip: border-box;
    border: 1px solid #dfe2e6;
    border-radius: .5rem;
    &__title {
        padding: 1rem;
        margin-bottom: 0;
        background-color: #fff;
        font-size: 22px;
        font-weight: 600;
        color: #303956;
        line-height: 1.25;
        display: flex;
        align-items: center;
        justify-content: space-between;
        &--mini {
            font-size: 17px;
        }
    }
    &__body {
        padding: 1rem;
    }
}


.user {
    display: flex;
    margin-bottom: 30px;
    &__avatar {
        width: 100%;
        img {
            height: 150px;
            width: 150px;
            object-fit: cover;
            object-position: center;
            border-radius: 50%;
        }
    }
    &__name {
        font-size: 22px;
        font-width: bold;
        margin-bottom: 10px;
    }
    &__email {
        font-size: 15px;
        margin-bottom: 10px;
        color: #4467da;
    }
    &__phone {
        font-size: 15px;
    }
    &__info {
        padding: 10px 0;
    }
    &__progress {
        display: flex;
    }
}

.user-status,
.user-rating {
    margin-right: 50px;
    &:last-child {
        margin-right: 0;
    }
    &__title {
        font-size: 17px;
        margin-bottom: 12px;
        font-weight: 700;
        margin-top: 5px;
    }
    .fa-hand-peace {
        color: #001cb9;
    }
    .fa-trophy {
        color: #fde300;
    }
    &__detail {
        i {
            margin-right: 5px;
        }
    }
}

.achievements {

}

.achievement {
    &__title {
        font-size: 20px;
        margin-bottom: 20px;
    }
}

.achievement-list {
    padding: 15px;
    display: flex;
    flex-wrap: wrap;
}

.achievement-item {
    margin: 0 0 30px 0;
    max-width: 300px;
    &__title {
        font-size: 17px;
        padding-bottom: 0px;
    }
    &__unlock {
        font-size: 13px;
    }
    &__progress {
        > div {
            height: 10px;
            background: #2196F3;
            border-radius: 3px;
            margin-bottom: 15px;
        }
    }
}

.act-list {
    display: flex;
    flex-wrap: wrap;
    margin: 0 -15px;
}

.act {
    margin: 0 15px 30px 15px;
    position: relative;
    max-width: 300px;
    &__image {
        position: relative;
        img {
            max-width: 100%;
            display: block;
        }
    }
    &__title {
        position: absolute;
        left: 0;
        bottom: 0;
        padding: 15px;
        color: #fff;
        font-size: 18px;
        width: 100%;
        background: rgba(0, 0, 0, .7);
    }
}

@media (min-width: 768px) {
    #app {
        .sidebar {
            width: 100px;
            li {
                a {
                    padding: 20px 10px;
                    span {
                        display: block;
                    }
                }
            }
            + .content {
                margin-left: 100px;
            }
        }
    }
    .slot {
        padding: 30px;
    }
    .auth {
        padding: 30px 50px;
    }
    .achievement-item {
        margin: 0 15px 30px 15px;
    }
    .user {
        &__avatar {
            width: auto;
            img {
                height: 85px;
                width: 85px;
            }
        }
        &__info {
            padding-left: 15px;
            margin-right: 100px;
        }
    }
}

@media
only screen and (max-width: 767px),
(min-device-width: 768px) and (max-device-width: 1024px) {
    .box {
        &__title {
            flex-wrap: wrap;
        }
    }
    table, thead, tbody, th, td, tr {
        display: block;
    }
    thead tr {
        display: none;
    }
    tr {
        border: 1px solid #ccc;
        + tr {
            margin-top: 15px;
        }
    }
    td {
        border: none;
        border-bottom: 1px solid #eee;
        position: relative;
        padding-left: 50%;
    }
}
